/*Pallete
Yellow = #FFF100
Berry Red = #AD335C
Light Berry Red = #CC0066
Green Beige = #999100
Bright Beige = #FFFFCC
*/
html {
	font-family: Georgia;
}
body {
	padding: 0rem;
	margin: 0rem;

}/*Hovers for Wiki*/
a {
	color: beige;
	text-decoration: none;
}

a:hover {
	color: white;

}/*Block Quote*/
blockquote{
	font-family: Georgia;
	font-size: 1.4rem;
	font-style: italic;
	color: #999100;
	text-align: center;
}

blockquote footer { /*E.B Whtie*/
	background-color: white;
	text-align: center;
	font-family: Georgia;
	font-size: 1.4rem;
	font-style: italic;
	color: #999100
}
/*Navigations*/
nav a: { /*texts in nav a*/
	display: inline-block;
	padding: 0.5rem 0.75rem ;
	background-color: #FFF100;
	color: #999100;
	text-decoration: none;
	border-radius: 6px;
	width: 6em;
}
nav{
	text-align: center;
	padding: 1rem 1rem 1rem 1rem;
	display: block;
	background-color: #FFF100;

}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

nav li{
	display: inline;
	background-color: #999100;
	color: white;
	border-radius: 3px;
	padding: 0.5rem 0.75rem;
	width: 6em;
	font: Georgia;
	font-size: 1.1rem;
}

li:hover{
	background-color: #CC0066;

}/*Box footer*/
footer {
	font-size: 0.9rem;
	text-align: center;
	/*Boxes*/
	background-color: #FFF100;
	padding: 1em 2em 0.5em 3em;
	margin: 0;
	padding: 0.5rem;
}
footer p {
	color: ;
	text-decoration: none;

}/*Fonts and indentations*/
h1, h2, h3 {
	font-family: 'Sigmar One', cursive;
	color: #AD335C;
}

h1 {
	text-align: center;
	/*boxes*/
	font-size: 3.5rem;
	background-color:#FFF100;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 2rem;
	border-top: solid 5px #FFF100;
	margin: 0.5rem;
}

h3 {
	font-size: 1.3rem;
	margin: 0.5rem;

}
p {
	line-height: 1.6rem;
	margin: 0.5rem;
}
dt {
	list-style-type: lower-roman;
	font-family: Georgia;
	font-size: 0.9rem;
	font-weight: bold;
	margin: 0.5rem;
}
dd {
	padding: 0rem;
	margin: 0.5rem;

}
dl {
	line-height: 1rem;

}/*Image*/
figure {
	text-align: center;
	border: 2px solid #999100;
	border-style: solid;
	margin: 1rem;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius:7px;
    background: #FFFFCC;
}

img{
  width: 95%;
  display: block;
  margin: 0 auto;
}
figurecaption {
	font-style: italic;
	font-family: georgia;
	font-size: 0.8rem;
	text-align: center;

}/*Classes*/
.startquote {
	font-size: 3.5rem;
	font-family: Georgia;
	color: #999100;
	text-align: center;
}
.wiki {
	color: #AD335C;
}